#如果mode_rewrite.c模块则执行以下指令<IfModule mod_rewrite.c>#开启rewriteEngine RewriteEngine On#如果目录存在就直接访问目录不进行RewriteRule RewriteCond %{REQUEST_FILENAME} !-d#如果文件存在，就直接访问文件，不进行下面的RewriteRule.(不是文件或文件不存在就执行重写) RewriteCond %{REQUEST_FILENAME} !-f#L最后一条语句;QSA此标记强制重写引擎在已有的替换字符串中追加一个查询字符串，而不是简单的替换。如果需要通过重写规则在请求串中增加信息，就可以使用这个标记。#访问路径重写到index.php/的后面,最后参数传递给index.php文件 RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]</IfModule>